:local {
  .container {
    padding: 15px;
  }

  .error {
    background: #ff000049;
    margin: 20px 20px;
    padding: 15px;
    border-radius: 5px;
  }

  .latest {
    padding: 10px;
  }

  .latestTable {
    $border: 1px solid #d8d8d8;

    border: $border;
    border-collapse: collapse;
    width: 100%;

    > {
      thead {
        > {
          tr {
            border: none;

            > {
              th {
                background: #ebebeb;
                padding: 8px 15px;
              }
            }
          }
        }
      }

      tbody {
        > {
          tr {
            &:not(:first-child) {
              border-top: $border;
            }

            > {
              td {
                padding: 10px 15px;
                white-space: nowrap;

                &:last-child {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  $list-item-spacing: 15px;

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: -$list-item-spacing;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }

  .listItem {
    position: relative;
    margin-bottom: $list-item-spacing;
    padding-left: $list-item-spacing;
    max-width: 100%;
  }
}
